[Unit]
Description=Telegram bot @orient_togethers_bot
After=network-online.target home-pa-data.mount
Requires=network-online.target home-pa-data.mount

[Service]
ExecStart=/home/pa/data/devel/python/orient_togethers_bot/venv/bin/python /home/pa/data/devel/python/orient_togethers_bot/bot.py

[Install]
WantedBy=multi-user.target
