[Unit]
Description=Telegram bot @orient_togethers_bot
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/srv/orientbot/venv/bin/python /srv/orientbot/main.py

[Install]
WantedBy=multi-user.target
