[Unit]
Description=Telegram bot @orient_togethers_bot
After=network-online.target home-pa-data.mount
Requires=network-online.target home-pa-data.mount

[Service]
ExecStart=/srv/orientbot/venv/bin/python /srv/orientbot/main.py

[Install]
WantedBy=multi-user.target
